*, *::before, *::after{ padding: 0; margin: 0; }

:root{
    --light-blue: #61dafb;
    --deep-dark: #20232a;
    --light-dark: #373940;
    --dark: #282c34;
}

body{ background-color: var(--dark); }


/* left side of main */
.left-side{ 
    position: absolute; top: calc(50% - 9rem); left:clamp(5rem,10rem, 30rem);
    /* top: 35%; 
    left:clamp(5rem,10rem, 30rem);  */
}

.m-text{ font-size: 5rem; color: var(--light-blue); }
.main-phrase{ color: #fff; margin-top: -1rem; margin-bottom: 1.5rem; font-size: 2rem;}
.start-btn{ 
    height: clamp(2.8rem, 5vh, 4.5rem); width: clamp(17rem,20vw,27rem);
    color: var(--light-dark); font-size: clamp(2rem, 1.5vw+1rem, 4rem); font-weight: 500; 
    animation: bounce 1s infinite;
}
.start-btn:hover{ animation: none;}

.right-side{ position: absolute; 
    /* top: 16rem; right: 10rem;  */
    top: clamp(calc(20vh - 1rem), 15%, calc(30vh + 5rem)); right: calc(40% + 3rem);
} 
.images{ 
    position: absolute; top: clamp(8rem,50%,20rem); left:0%;
    width: clamp(35rem,45vw,60rem); height: clamp(35rem,45vw,60rem);     
}

.icons{ position: absolute; left: -5rem; }
#big-image{ position: absolute; width: clamp(25rem,35vw,50rem); height: clamp(25rem,35vw,50rem); }
#laptop{ position: absolute; width: clamp(5rem, 5vw, 10rem); height: clamp(5rem, 5vw, 10rem); top: 30rem; right: -10rem; filter:  invert(100%); animation: fade 5s infinite;}
#desktop{ position: absolute; width: clamp(5rem, 5vw, 10rem); height: clamp(5rem, 5vw, 10rem); top: 15rem; right: -3rem; filter:  invert(100%); animation: fade 4s infinite;}
#ipad{ position: absolute; width: clamp(5rem, 5vw, 10rem); height: clamp(5rem, 5vw, 10rem); top: -4rem; right: -11rem; filter:  invert(100%); animation: fade 3s infinite;}
#phone{ position: absolute; width: clamp(5rem, 5vw, 10rem); height: clamp(5rem, 5vw, 10rem); top: -6rem; right: -33rem; filter:  invert(100%); animation: fade 2s infinite;}

@keyframes bounce {
    0% { transform: scale(1,1) translate(0px, 0px); }
    30%{ transform: scale(1,0.8) translate(0px, 10px); }
    75%{ transform: scale(1,1.1) translate(0px, -15px); }
    100% { transform: scale(1,1) translate(0px, 0px);}
}

@keyframes fade {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}



